* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: rgb(80, 80, 80);
}

main {
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

a {
  color: rgb(196, 74, 58);
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  color: rgb(40, 41, 56);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#frontmenu li:hover,
.grid_child:hover {
  background-color: rgb(150, 201, 249);
}

#frontmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

#frontmenu li {
  list-style: none;
  background-color: rgb(180, 211, 255);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  margin-bottom: 8%;
}

#frontmenu li a,
.grid_child a {
  color: rgb(40, 41, 56);
  text-transform: uppercase;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 30px;
  padding-top: 10%;
  text-transform: uppercase;
  font-size: 3rem;
}

.logo:hover {
  text-decoration: none;
}

menu {
  text-decoration: none;
  list-style: none;
  padding-right: 4%;
}
menu li {
  padding: 10px;
}

.grid_parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 400px;
  height: 250px;
  gap: 30px;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
}

.grid_child {
  background-color: rgb(180, 211, 255);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

article {
  /* background-color: rgb(0, 0, 0); */
  max-width: 100%;
}

.product_flex {
  display: flex;
  flex-direction: row;
}

.product_flex p {
  padding-right: 10px;
}

.brand {
  padding-left: 10px;
}

.productlist main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.productlist main h2 {
  grid-column: 1/-1;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: rgb(180, 211, 255);
  /* padding: 90px; */
  padding-bottom: 15px;
  padding-top: 55px;
  font-size: 2rem;
  text-decoration: underline;
}

.productlist article h3 {
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(180, 211, 255);
  text-transform: uppercase;
  padding-top: 15px;
}

h3 {
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(68, 83, 132);
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 6px;
}

.productlist article a:hover {
  text-decoration: underline;
  color: rgb(180, 211, 255);
}

.purchaseBox {
  background: #d8d8d8;
  color: var(--background-color);
  padding: 1rem;
  max-width: 400px;
}

.purchaseBox form label {
  gap: 1rem;
}

label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 130px;
}

label select {
  width: 30px;
  margin-bottom: 20px;
}

.info {
  padding: 1rem;
  color: #d8d8d8;
  font-family: "Roboto", sans-serif;
}
.breadcrumbs {
  display: none;
}

.product main .breadcrumbs,
.product main img {
  grid-column: 1/-1;
}

.breadcrumbs li,
li::after {
  color: rgb(150, 201, 249);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.produkt_site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.produkt_site img {
  max-width: 370px;
}

form {
  color: rgb(68, 83, 132);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

/* Burgermenu */

.hamburger.active .burgerbar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .burgerbar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .burgerbar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.burgerbar {
  display: block;
  width: 30px;
  height: 3.5px;
  margin-bottom: 5px;
  background-color: rgb(196, 74, 58);
  border-radius: 3px;
  position: relative;
  z-index: 20;
}

@media (max-width: 800px) {
  h1 {
    max-width: min-content;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 10%;
    left: 80%;
  }

  .menuparent.active {
    right: 0;
    top: 0;
    opacity: 100%;
    height: 1200px;
    width: 250px;
    z-index: 20;
    gap: 45px;
    padding-top: 180px;
  }

  .menuparent {
    opacity: 0;
    right: 0;
    position: absolute;
    font-family: menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    font-size: 1.5rem;
    height: 0;
    width: 0;
    list-style: none;
    color: #3f5eed;
    background-color: #aec6e7;
    top: 14%;
    text-transform: uppercase;
  }
}

@media (min-width: 800px) {
  h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  #frontmenu {
    display: flex;
    flex-direction: row;
    gap: 8%;
    justify-content: center;
    text-align: center;
  }

  menu a:hover {
    text-decoration: underline;
  }

  #frontmenu a:hover {
    text-decoration: none;
  }

  menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    left: 10%;
  }

  .grid_parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    height: 250px;
    gap: 60px;
    margin: auto;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .breadcrumbs {
    display: flex;
    font-size: 1rem;
    list-style-type: none;
    gap: 10px;
    margin-left: 5%;
    margin-top: 50px;
  }

  .breadcrumbs li::after {
    content: " > ";
    font-size: 0.8rem;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    transition: all 0.3s;
  }
  .produkt_site {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
  }

  .produkt_site img {
    max-width: 450px;
  }

  .purchaseBox {
    max-width: 500px;
    height: 600px;
  }
}
